<div class="container">
    <hr>
    <div class="row">
        <div class="columnName col-md-2">Poster
        </div>
        <div class="columnName col-md-4">GameName
        </div>
        <div class="columnName col-md-2">GamePlatform
        </div>
        <div class="columnName col-md-2">Price
        </div>
        <div class="columnName col-md-2">Quantity
        </div>
    </div>
    <hr>
    <div class="row">
        <div id="itemPoster" class="col-md-2">IMG
        </div>
        <div id="itemName" class="col-md-4">
            <a target="_blank" href="/">Overwatch</a>
        </div>
        <div id="itemPlatform" class="col-md-2">PC
        </div>
        <div id="itemPrice" class="col-md-2">59.99
        </div>
        <div id="itemQuantity" class="col-md-2">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <div id="checkoutBttn">
                <span>Checkout</span>
            </div>
        </div>
    </div>
    <br>
</div>

<div id="paymentCard" class="card">
    <div class="card-body">
        <h5 id="cardTitle" class="card-title">Card Holder Details</h5>
        <input class="form-control" type="text" placeholder="Name">
        <input class="form-control" type="text" placeholder="e-mail">
        <input class="form-control" type="text" placeholder="Phone Number">
        <h5 id="cardTitle" class="card-title">Card Information</h5>
        <input class="form-control" type="text" placeholder="1234 1234 1234 1234">
        <input class="form-control" type="text" placeholder="MM/YY">
        <input class="form-control" type="text" placeholder="CVC">
        <input class="form-control" type="text" placeholder="Zip Code">

    </div>
</div>
